name: "Secrets"

on:
  pull_request: {}

permissions:
  contents: read

jobs:
  cspell:
    name: Secrets
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: p6m7g8-actions/checkout@main

      - name: Run secrets
        uses: ./
